@import "../components/rootcolors.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300";
@import "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css";

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
::selection {
  background: #77dab2;
}
::-moz-selection {
  background: #77dab2;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-1);
  font-family: 'Source Sans Pro', proxima nova, sans-serif;
  color: var(--gray-4);
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

main {
  /* padding-top: 90px; */
  padding-bottom: 90px;
  min-height: 100vh;
  display: flex;
}

.index-wrapper {
  width: 740px;
  max-width: 80vw;
  margin: auto;
  margin-top: 90px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3 {
  text-transform: capitalize;
  color: var(--purple-dark);
  font-weight: 400;
  font-size: 22px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: var(--nova);
  font-weight: 400;
  text-decoration: none;
}

kbd {
  margin: 5px; 
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1.6;
  padding: 3px 5px;
  white-space: nowrap;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

pre code {
  background: none;
  line-height: 1.42;
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

.tag-listings h3 {
  border-bottom: solid 1px rgba(102,119,136,.2);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  margin-top: 30px;
  padding-bottom: 10px;
}

.tag-listings ul {
  padding: 0;
}

.tag-listings ul li {
  list-style-type: none;
  text-transform: lowercase;
}

.tag-listings a {
  color: var(--slate);
  font-weight: 300;
}

.tag-listings ul li span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--green);
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 3px;
}

#flashcards {
  width: 600px;
  height: 500px;
}