@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

.markdown {
    /* width: 960px; */
    width: 740px;
    max-width: 100%;
    margin: 0 auto;
    /* position: absolute; */
    /* margin-top: 90px; */
}

.markdown h1 {
    line-height: 1.2;
    font-weight: 200;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: #345;
}

.markdown h4 {
    border-top: solid 1px rgba(102,119,136,.05);
    font-size: 12px;
    padding: 8px 16px;
    font-weight: 400;
    background: #f8f9fa;
    color: #678;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    margin: 0;
}

.markdown li {
    line-height: 2;
}

.markdown li p {
    margin: 0;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
}

.markdown .code {
    /* font-family: monospace; */
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.markdown th {
    text-align: left;
    border-top: solid 1px rgba(102,119,136,.05);
    font-size: 12px;
    padding: 8px 16px;
    font-weight: 400;
    background: #f8f9fa;
    color: #678;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    margin: 0;
}

.markdown tr {
    border-top: solid 1px rgba(102,119,136,.05);
}

.markdown td {
    padding: 8px;
    padding-left: 36px;
    padding-right: 36px;
    list-style-type: none;
    border-right: solid 1px rgba(102,119,136,.05) !important;
    font-size: 14px;
    line-height: 1.6;
}

.markdown table.col-2 td {
    width: 50%;
}

.markdown table.col-1_2 td:first-child {
    width: 33.333%;
}

.markdown table.col-1_2 td:nth-child(2) {
    width: 66.666%;
}

.markdown table.col-3 td {
    width: 33.333%;
}

.markdown .card {
    background-color: white;
    box-shadow: 0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3);
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown .card ul {
    /* background-color: white; */
    height: 100%;
    padding: 0;
    /* box-shadow: 0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3); */
    margin: 0 auto;
    margin-top: 50px;
}

.markdown .card li {
    padding: 8px;
    padding-left: 36px;
    padding-right: 36px;
    list-style-type: none;
    border-top: solid 1px rgba(102,119,136,.05) !important;
    font-size: 14px;
    line-height: 1.6;
}

.markdown .card li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #678;
    border-radius: 50%;
    right: 16px;
    top: -2px;
}

.markdown .card .nobullet::before {
    width: 0;
    height: 0;
}

.markdown .card .nobullet code {
    display: block;
}

.markdown .card .nobullet code:first-of-type {
    margin-top: -20px;
}

.markdown .card code {
    display: inline-block;
}

.markdown .task-list-item {
    list-style-type: none;
}

.markdown pre {
    display: flex;
    align-content: center;
    max-width: max-content;
    font-family: 'Inconsolata', monospace;
}

.markdown pre code {
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    display: flex;
}

.markdown .pre-sm {
    margin-bottom: 0;
    padding: 0 .5rem;
    width: max-content;
    max-width: 100%;
    display: inline-flex;
    background: rgba(144,102,184,0.2);
}

.markdown .pre-md {
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    width: max-content;
    max-width: 100%;
    display: inline-flex;
    background: rgba(144,102,184,0.2);
}

iframe.map {
    background-color: white;
    position: relative;
    width: 150%;
    left: -25%;
    height: 700px;
    border: none;
    box-shadow: 0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3);
}

iframe.flashcards {
    position: relative;
    border: none;
    box-shadow: 0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3);
    width: 100%;
    height: 500px;
}

iframe.codepen {
    width: 100%;
    height: 300px;
}

section {
    border-top: solid 1px rgba(102,119,136,.05);
    font-size: 12px;
    padding: 16px 16px;
    font-weight: 400;
    background: #f8f9fa;
    color: #678;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    margin: 0;
    font-style: italic;
    padding-left: 29px;
}

section code {
    /* background: rgba(144,102,184,0.2); */
    /* padding: 0.1rem 0.4rem; */
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
}

.accordion summary {
    border-top: solid 1px rgba(102,119,136,.05);
    font-size: 12px;
    padding: 8px 16px;
    font-weight: 400;
    background: #f8f9fa;
    color: #678;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .markdown {
        max-width: 90%;
    }
    .markdown td {
        width: 100% !important;
        display: block;
    }
    .markdown ol{
        padding-left: 15px;
    }
    .markdown ul{
        padding-left: 25px;
    }
    iframe.flashcards {
        height: 400px;
    }
}