:root {
    --gray-1: #f1f3f5;
    --gray-2: #ddd;
    --gray-3: #aaa;
    --gray-4: #50505a;
    --gray-5: #222;
    --slate: #345;
    --purple-dark: #745fb5;
    --purple-medium: #9066b8;
    --green: #77dab2; 

    --white: #fff;
    --black: #000;
    --nebula: #5468ff;
    --moon: #f5f5fa;
    --asteroid: #dddfed;
    --proton: #c5c9e0;
    --nova: #848ab8;
    --telluric: #5d6494;
    --solstice: #3a416f;
    --cosmos: #21243d;
    --neptune-0: #3944a0;
    --neptune-1: #565db6;
    --neptune-2: #7178cc;
    --neptune-3: #8c93e2;
    --neptune-4: #a6b0f9;
    --mercury-0: #008fba;
    --mercury-1: #2da7cb;
    --mercury-2: #5bbfdd;
    --mercury-3: #88d6ee;
    --mercury-4: #b5eeff;
    --jupiter-0: #3ab2bd;
    --jupiter-1: #61c5c8;
    --jupiter-2: #89d9d3;
    --jupiter-3: #b0ecde;
    --jupiter-4: #d7ffe9;
    --saturn-0: #ec8b63;
    --saturn-1: #f3a57e;
    --saturn-2: #f8be9a;
    --saturn-3: #fcd7b7;
    --saturn-4: #fdf1d4;
    --mars-0: #ed5a6a;
    --mars-1: #f27885;
    --mars-2: #f695a0;
    --mars-3: #fbb3ba;
    --mars-4: #ffd0d5;
    --venus-0: #ae3e88;
    --venus-1: #d44fa4;
    --venus-2: #ea71bc;
    --venus-3: #f89ad3;
    --venus-4: #ffcae9;
}